@{
    Layout =null;
var i= 1;
}

@using MvcWebSite.Models;

<div class="listborder xydt">
      <div class="title"><span class="name">@(((Menu)ViewBag.Menu).MName)</span><span class="more"><a href="/List/List/@(((Menu)ViewBag.Menu).MID)">+MORE</a></span></div>
      <div class="info">
        <ul class="news">@foreach (New news in ViewBag.NewList)
                {
if(i==1)
{
<a href="/List/Article/@news.NID" title="@news.NewsTitle">
      <h3>@news.NewsTitle</h3>
      <div> @(news.NDescription.Length > 70 ? news.NDescription.Substring(0, 70) : news.NDescription)</div>
      </a>}
else
{
 <li><a href="/List/Article/@news.NID" title="@news.NewsTitle"><span class="newsname">@news.NewsTitle</span><span class="newsdata">@news.CreateDate.ToString("yyyy-MM-dd")</span></a></li>
}   
i=i+1;            
                }
        </ul>
      </div>
    </div>