<!DOCTYPE html>
@using MvcWebSite.Models;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Css/Index.css" rel="stylesheet" />
    <link href="~/Css/Custom.css" rel="stylesheet" />
    <script src="~/Scripts/Index.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jQuery-jcMarquee.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script src="~/Scripts/MvcPager.min.js"></script>
</head>
<body>

    @Html.Partial("_LayoutTitleNav")

    @*以下为页面的部分*@


    <div class="web_main">
        @Html.Partial("_LayoutLeft")

        <div id="web_right">
            @RenderBody()
        </div>
    </div>

    @Html.Partial("_LayoutFoot")
</body>
</html>
